<style type="text/css">
  #main-wrapper {
    margin-top: 40px;
  }

  .fake-piskelapp-header {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background: black;
    color: gold;
    z-index: 100;
  }

  .piskel-name.piskel-name-saving {
    color: red;
  }

  .new-piskel-desktop {
    position: absolute;

    display: flex;
    top: 7px;
    right: 7px;

    height: 26px;
    width: 26px;

    border-radius: 3px;
    font-size: 22px;
    color: black;
    background: gold;
    text-decoration: none;

    align-items: center;
    justify-content: center;
  }
  a.new-piskel-desktop, a.new-piskel-desktop:visited {
    color: black;
  }
</style>
<div class="fake-piskelapp-header">
  <a
    href="/dashboard"
    title="Go back to FUSE site"
    rel="tooltip"
    style="float:left"
    ><img src="logo.png" alt="FUSE Logo" style="scale:0.75"></a>
  <a
    href="/pixelart"
    target="_blank"
    class="new-piskel-desktop button button-primary"
    title="Create a new sprite"
    rel="tooltip"
    data-placement="left"
    >+</a>
  <span class="piskel-name"></span>
</div>