<style type="text/css">
  #main-wrapper {
    margin-top: 55px;
  }

  .fake-piskelapp-header {
    position: relative;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    background: #18181f;
    border-bottom: 1px solid #3a3a4e;
    color: gold;
    z-index: 100;
  }

  .piskel-name.piskel-name-saving {
    color: red;
  }

  .new-piskel-desktop {
    position: absolute;

    display: flex;
    top: 12px;
    right: 7px;

    height: 32px;

    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    background: gold;
    text-decoration: none;

    align-items: center;
    justify-content: center;
  }
  a.new-piskel-desktop, a.new-piskel-desktop:visited {
    color: black;
  }

  .header-history-button {
    float: left;
    margin: 5px 0 0 8px;
    height: 40px;
    padding: 0 6px;
    border: none;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
  }
  .header-history-button:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  .header-history-button img {
    display: block;
    height: 18px;
    width: auto;
  }
  .header-history-button:disabled {
    cursor: default;
  }
  .header-history-button:disabled:hover {
    background: transparent;
  }
  .header-history-button:disabled img {
    filter: grayscale(1);
    opacity: 0.4;
  }
  #logo {
    height: 48px;
    width: auto;
    margin-left: 24px;
    margin-top: 4px;
  }
</style>
<div class="fake-piskelapp-header">
  <a
    href="/dashboard"
    title="Go back to FUSE site"
    rel="tooltip"
    style="float:left"
    ><img src="logo.png" alt="FUSE Logo" id="logo"></a>
  <button
    type="button"
    class="header-history-button header-undo-button"
    title="Undo"
    rel="tooltip"
    ><img src="img/icons/undo.svg" alt="Undo"></button>
  <button
    type="button"
    class="header-history-button header-redo-button"
    title="Redo"
    rel="tooltip"
    ><img src="img/icons/redo.svg" alt="Redo"></button>
  <a
    href="/pixelart"
    target="_blank"
    class="new-piskel-desktop button button-primary"
    title="Create a new sprite"
    rel="tooltip"
    data-placement="left"
    >New</a>
  <span class="piskel-name"></span>
</div>